body{
    text-align: center;
}

.ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scores{
    display: flex;
    justify-content: space-around;
}

.scores h1{
    font-size: 20px;
    font-weight: bold;
}